DECODE_KEY="trustbucket-CHANGEME"
MONGODB_URI="mongodb+srv://USER:PASSWORD@mongo.example.com/trustbucket?retryWrites=true"
API_KEY_GOOGLE="SETME"
CLIENT_ID_GOOGLE="SETME"
CLIENT_SECRET_GOOGLE="SETME"
MJ_APIKEY_PUBLIC="SETME"
MJ_APIKEY_PRIVATE="SETME"
STRIPE_PUBLISH_KEY="SETME"
STRIPE_SECRET_KEY="SETME"
